<!Doctype html>
<html lang="ko">
    <head>
        <title>갤럭시 교육프로그램</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
        <meta name="author" content="univEBIZ-ZOoOe">
        <meta name="keywords" content="삼성전자, 갤럭시, 교육프로그램, 스튜디오, samsung, galaxy, galaxystudio">
        <meta name="description" content="삼성전자 갤럭시 교육프로그램 신청 사이트">

        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:site-name" content="" >
        <meta property="og:title" content="갤럭시 교육프로그램">
        <meta property="og:description" content="삼성전자 갤럭시 교육프로그램 신청 사이트">
        <meta property="og:image" content="../../content/images/og.png">
        <meta property="og:image:width" content="600">
        <meta property="og:image:height" content="315">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="">
        <meta property="twitter:title" content="갤럭시 교육프로그램">
        <meta property="twitter:description" content="삼성전자 갤럭시 교육프로그램 신청 사이트">
        <meta property="twitter:image" content="../../content/images/og.png">
        
        <link rel="icon" type="image/x-icon" href="../../content/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico">

        <link href="../../content/styles/slick.css" rel="stylesheet">
        <link href="../../content/styles/style.css" rel="stylesheet">
        <link href="../../content/styles/content.css" rel="stylesheet">

        <script src="../../content/scripts/jquery-3.5.1.min.js"></script>
    </head>
    <body>
        <main>
            <article class="main-vsl-area">
                <div class="main-vsl-slider">
                    <div class="main-vsl-slider-item">
                        <div class="galaxy-class-wrap" data-class="edu">
                            <div class="galaxy-class-row">
                                <div class="galaxy-class-cont">
                                    <div class="grid1170">
                                        <span class="galaxy-class-copy nxn-fw400">갤럭시로 준비 완료</span>
                                        <h2 class="galaxy-class-tit nxn-fw700">공신들의 <span class="txt-break__mo">공부환경</span> 만들기</h2><a href="applyForm.html" class="pagelink-btn__type2 fw700 fs30"><span class="pagelink-btn-label">신청하기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-vsl-slider-item">
                        <div class="galaxy-class-wrap" data-class="wedding">
                            <div class="galaxy-class-row">
                                <div class="galaxy-class-cont">
                                    <div class="grid1170">
                                        <span class="galaxy-class-copy nxn-fw400">갤럭시로 완성하는</span>
                                        <h2 class="galaxy-class-tit nxn-fw700"><span class="txt-break__mo">셀프 웨딩</span> 기록법</h2><a href="applyForm.html" class="pagelink-btn__type2 fw700 fs30"><span class="pagelink-btn-label">신청하기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-vsl-slider-item">
                        <div class="galaxy-class-wrap" data-class="pet">
                            <div class="galaxy-class-row">
                                <div class="galaxy-class-cont">
                                    <div class="grid1170">
                                        <span class="galaxy-class-copy nxn-fw400">펫스타그램 완전 정복</span>
                                        <h2 class="galaxy-class-tit nxn-fw700"><span class="txt-break__mo">댕냥이</span> 인생샷 비법</h2><a href="applyForm.html" class="pagelink-btn__type2 fw700 fs30"><span class="pagelink-btn-label">신청하기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-vsl-slider-item">
                        <div class="galaxy-class-wrap" data-class="phonekku">
                            <div class="galaxy-class-row">
                                <div class="galaxy-class-cont">
                                    <div class="grid1170">
                                        <span class="galaxy-class-copy nxn-fw400">내 손에 가장 편하게 착붙-</span>
                                        <h2 class="galaxy-class-tit nxn-fw700"><span class="txt-break__mo">내 멋대로</span> 폰 커스텀</h2><a href="applyForm.html" class="pagelink-btn__type2 fw700 fs30"><span class="pagelink-btn-label">신청하기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="main-vsl-slider-item">
                        <div class="galaxy-class-wrap" data-class="essential">
                            <div class="galaxy-class-row">
                                <div class="galaxy-class-cont">
                                    <div class="grid1170">
                                        <span class="galaxy-class-copy nxn-fw400">무엇이든 물어보갤</span>
                                        <h2 class="galaxy-class-tit nxn-fw700"><span class="txt-break__mo">갤럭시</span> 찐 활용법</h2><a href="applyForm.html" class="pagelink-btn__type2 fw700 fs30"><span class="pagelink-btn-label">신청하기</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <article class="cmn-area main-class-area">
                <div class="grid1170">
                    <h3 class="galaxy-class-list-tit fs30 grdpink"><span class="txt-break__mo">원하는 클래스를 선택하고</span> 지금 바로 예약하세요.</h3>
                    <ul class="galaxy-class-list flex-box">
                        <li>
                            <a href="applyForm.html" class="galaxy-class-link" data-class="edu">
                                <img src="../../content/images/class-thumb-edu.jpg" alt="갤럭시로 준비 완료 공신들의 공부환경 만들기">
                                <div class="galaxy-class-link-cont">
                                    <strong class="galaxy-class-ctg fw600 fs26" data-class="edu">갤럭시로 준비 완료</strong>
                                    <p class="fs40">공신들의<br>공부환경<br>만들기</p>
                                </div>
                            </a> 
                        </li>
                        <li>
                            <a href="applyForm.html" class="galaxy-class-link" data-class="wedding">
                                <img src="../../content/images/class-thumb-wedding.jpg" alt="갤럭시로 완성하는 셀프 웨딩 기록법">
                                <div class="galaxy-class-link-cont">
                                    <strong class="galaxy-class-ctg fw600 fs26" data-class="wedding">갤럭시로 완성하는</strong>
                                    <p class="fs40">셀프 웨딩<br>기록법</p>
                                </div>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="applyForm.html" class="galaxy-class-link disable" data-class="wedding">
                                <img src="../../content/images/class-thumb-wedding.jpg" alt="갤럭시로 완성하는 셀프 웨딩 기록법">galaxy-class-ctg fw600 fs26
                                <div class="galaxy-class-link-cont">
                                    <strong class="galaxy-class-ctg fw600 fs26" data-class="wedding">갤럭시로 완성하는</strong>
                                    <p class="fs40">셀프 웨딩<br>기록법</p>
                                </div>galaxy-class-ctg fw600 fs26
                                <span class="end-label fs30 fc-purple">마감</span>
                            </a>
                        </li> 마감된 클래스에는 disable 추가, end-label 영역 추가 -->
                        <li class="pc-show">
                            <img src="../../content/images/class-thumb-logo.jpg" alt="갤럭시 Fan, 다채로운 세상을 발견하다 - Galaxy Fan Class">
                        </li>
                        <li>
                            <a href="applyForm.html" class="galaxy-class-link" data-class="pet">
                                <img src="../../content/images/class-thumb-pet.jpg" alt="펫스타그램 완전 정복 댕냥이 인생샷 비법">
                                <div class="galaxy-class-link-cont">
                                    <strong class="galaxy-class-ctg fw600 fs26" data-class="pet">펫스타그램 완전 정복</strong>
                                    <p class="fs40">댕냥이<br>인생샷 비법</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="applyForm.html" class="galaxy-class-link" data-class="phonekku">
                                <img src="../../content/images/class-thumb-phonekku.jpg" alt="내 손에 가장 편하게 착붙- 내 멋대로 폰 커스텀">
                                <div class="galaxy-class-link-cont">
                                    <strong class="galaxy-class-ctg fw600 fs26" data-class="phonekku">내 손에 가장 편하게 착붙-</strong>
                                    <p class="fs40">내 멋대로<br>폰 커스텀</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="applyForm.html" class="galaxy-class-link" data-class="essential">
                                <img src="../../content/images/class-thumb-essential.jpg" alt="무엇이든 물어보갤 갤럭시 찐 활용법">
                                <div class="galaxy-class-link-cont">
                                    <strong class="galaxy-class-ctg fw600 fs26">무엇이든 물어보갤</strong>
                                    <p class="fs40">갤럭시 찐<br>활용법</p>
                                </div>
                            </a>
                        </li>
                        <li class="mo-show">
                            <img src="../../content/images/class-thumb-logo-mo.jpg" alt="갤럭시 Fan, 다채로운 세상을 발견하다 - Galaxy Fan Class">
                        </li>
                    </ul>
                </div>
            </article>
            <div class="cmn-area main-event-area pt60 pb60">
                <div class="grid1170">
                    <img src="../../content/images/main-about-event.png" alt="갤럭시 교육프로그램 이벤트 소개 이미지" class="pc-show">
                    <img src="../../content/images/main-about-event-mo.png" alt="갤럭시 교육프로그램 이벤트 소개 이미지" class="mo-show">
                </div>
            </div> <!-- //0330 zoe 추가 -->
        </main>
        <!-- footer START -->
        <footer>
            <div class="grid1170">
                <div class="ft-wrap flex-box flex-spc__btw flex-align__cnt">
                    <div class="ft-info-box">
                        <span class="ft-info copyright fs14">COPYRIGHT(C) SAMSUNG. ALL RIGHTS RESERVED.</span>
                        <span class="ft-info fs14">운영사무국 : 02-1234-5678</span>
                    </div>
                    <div class="ft-btn-box">
                        <a href="policy.html" class="ft-btn fs14">개인정보처리방침</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer END -->
        <script src="../../content/scripts/slick.min.js"></script>
        <script>
            //main visual slider
            $('.main-vsl-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 1500,
                arrows: true,
                pauseOnHover: true,
                responsive: [
                    {
                        breakpoint: 1024.98,
                        settings: {
                            arrows: false,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 576.98,
                        settings: {
                            arrows: false,
                            dots: true,
                            pauseOnHover: false
                        }
                    }
                ]
            });
        </script>
    </body>
</html>